---
http_interactions:
- request:
    method: post
    uri: http://soap.valleymetro.org/cgi-bin-soap-web-262/soap.cgi
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="PX_WEB"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><Routestops
        xmlns="PX_WEB"><Route>1</Route><Direction>E</Direction><Order>A</Order></Routestops></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"PX_WEB#Routestops"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Soapserver:
      - SOAP::Lite/Perl/0.55
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><SOAP-ENV:Envelope xmlns:xsi=\"http://www.w3.org/1999/XMLSchema-instance\"
        xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/1999/XMLSchema\" SOAP-ENV:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><SOAP-ENV:Body><namesp1:RoutestopsResponse
        xmlns:namesp1=\"PX_WEB\">\t<Version>2.3</Version>\n\t\t<Route>1</Route>\n\t\t<Direction>E</Direction>\n\t\t<Routedescription>1
        Washington to Sky Train/Sky Harbor</Routedescription>\n\t\t<Stops>\n\t\t\t<Stop>\n\t\t\t\t<Description>7TH
        ST &amp; VAN BUREN ST</Description>\n\t\t\t\t<Area>Phoenix</Area>\n\t\t\t\t<Atisstopid>4390</Atisstopid>\n\t\t\t\t<Stopid>10215</Stopid>\n\t\t\t\t<Alphaseq>0</Alphaseq>\n\t\t\t\t<Stopseq>20</Stopseq>\n\t\t\t\t<Point>33.450994,-112.065249</Point>\n\t\t\t</Stop>\n\t\t\t<Stop>\n\t\t\t\t<Description>7TH
        ST &amp; WASHINGTON ST</Description>\n\t\t\t\t<Area>Phoenix</Area>\n\t\t\t\t<Atisstopid>5007</Atisstopid>\n\t\t\t\t<Stopid>10216</Stopid>\n\t\t\t\t<Alphaseq>1</Alphaseq>\n\t\t\t\t<Stopseq>21</Stopseq>\n\t\t\t\t<Point>33.447988,-112.065255</Point>\n\t\t\t</Stop>\n\t\t\t<Stop>\n\t\t\t\t<Description>CENTRAL
        AVE &amp; ADAMS ST</Description>\n\t\t\t\t<Area>Phoenix</Area>\n\t\t\t\t<Atisstopid>2854</Ati[...]
