---
http_interactions:
- request:
    method: post
    uri: http://soap.valleymetro.org/cgi-bin-soap-web-271/soap.cgi
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="PX_WEB"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><Allroutes2
        xmlns="PX_WEB"><Appid>ratis-specs</Appid></Allroutes2></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"PX_WEB#Allroutes2"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Soapserver:
      - SOAP::Lite/Perl/0.55
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><SOAP-ENV:Envelope xmlns:xsi=\"http://www.w3.org/1999/XMLSchema-instance\"
        xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/1999/XMLSchema\" SOAP-ENV:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><SOAP-ENV:Body><namesp1:Allroutes2Response
        xmlns:namesp1=\"PX_WEB\">\n\t<Responsecode>0</Responsecode>\n\t<Version>1.4</Version>\n\t<Routes>\n\t\t<Item>\n\t\t\t<Route>685</Route>\n\t\t\t<Publicroute>685</Publicroute>\n\t\t\t<Direction>*</Direction>\n\t\t\t<Routetype>X</Routetype>\n\t\t\t<Hasrealtime>Y</Hasrealtime>\n\t\t\t<Rtmapgroup>
        </Rtmapgroup>\n\t\t\t<Color>#000000</Color>\n\t\t\t<Hexcolor>0</Hexcolor>\n\t\t\t<Description>685</Description>\n\t\t\t<Operator>AJO</Operator>\n\t\t\t<Operatorname>Ajo
        Transportation</Operatorname>\n\t\t\t<Sortorder>1</Sortorder>\n\t\t</Item>\n\t\t<Item>\n\t\t\t<Route>685</Route>\n\t\t\t<Publicroute>685</Publicroute>\n\t\t\t<Direction>N</Direction>\n\t\t\t<Routetype>X</Routetype>\n\t\t\t<Hasrealtime>Y</Hasrealtime>\n\t\t\t<Rtmapgroup>
        </Rtmapgroup>\n\t\t\t<Color>#000000</Color>\n\t\t\t<Hexcolor>0</Hexcolor>\n\t\t\t<Description>685
        AJO-GILA BEND CONNECTOR TO PHOENIX</Description>\n\t\t\t<Operator>AJO</Operator>\n\t\t\t<Operatorname>Ajo
        Transportation</Operatorname>\n\t\t\t<Sortorder>2[...]
