---
http_interactions:
- request:
    method: post
    uri: http://soap.valleymetro.org/cgi-bin-soap-web-262/soap.cgi
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="PX_WEB"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><Locate xmlns="PX_WEB"><Appid>WEB</Appid><Location>1315
        W. Straford Dr.</Location><Area xsi:nil="true"/><Region xsi:nil="true"/><Maxanswers>20</Maxanswers><Media>W</Media></Locate></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"PX_WEB#Locate"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Soapserver:
      - SOAP::Lite/Perl/0.55
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><SOAP-ENV:Envelope xmlns:xsi=\"http://www.w3.org/1999/XMLSchema-instance\"
        xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/1999/XMLSchema\" SOAP-ENV:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><SOAP-ENV:Body><namesp1:LocateResponse
        xmlns:namesp1=\"PX_WEB\">\n\t<Responsecode>ok</Responsecode>\n\t<Hint>1</Hint>\n\t<Version>1.13</Version>\n\t<Projection>SP</Projection>\n\t<Locationtype>A</Locationtype>\n\t<Location>\n\t\t<Name>W
        STRAFORD DR</Name>\n\t\t<Area>Chandler</Area>\n\t\t<Areacode>CH</Areacode>\n\t\t<Region>1</Region>\n\t\t<Zipname>85224
        - Chandler</Zipname>\n\t\t<Latitude>33.353202</Latitude>\n\t\t<Longitude>-111.864902</Longitude>\n\t\t<Address>1315</Address>\n\t\t<Landmarkid>0</Landmarkid>\n\t</Location>\n\t<Requestor>68.226.126.17</Requestor>\n\t<Host>s-rpta-soap</Host>\n\t<Copyright>XML
        schema Copyright (c) 2003-2013 Trapeze Software ULC, its subsidiaries and
        affiliates.  All rights reserved.</Copyright>\n\t<Soapversion>2.6.3 - 11/14/13</Soapversion>\n</namesp1:LocateResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>"
  recorded_at: Mon, 06 Jan 2014 23:53:42 GMT
recorded_with: VCR 2.8.0
