---
http_interactions:
- request:
    method: post
    uri: http://soap.valleymetro.org/cgi-bin-soap-web-271/soap.cgi
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="PX_WEB"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><Routepattern
        xmlns="PX_WEB"><Route>LTRL</Route><Direction>E</Direction><Date>12:00:00</Date><Servicetype>W</Servicetype><Routeid>46880</Routeid><Appid>ratis-specs</Appid></Routepattern></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"PX_WEB#Routepattern"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Soapserver:
      - SOAP::Lite/Perl/0.55
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:namesp1="http://namespaces.soaplite.com/perl"
        xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/1999/XMLSchema-instance"
        xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/1999/XMLSchema"
        SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><SOAP-ENV:Fault><faultcode
        xsi:type="xsd:string">SOAP-ENV:1007</faultcode><faultstring xsi:type="xsd:string">error
        #1007--Record not found or no more data</faultstring><detail><PX_WEB xsi:type="namesp1:PX_WEB"><code
        xsi:type="xsd:int">1007</code></PX_WEB></detail></SOAP-ENV:Fault></SOAP-ENV:Body></SOAP-ENV:Envelope>'
  recorded_at: Sat, 14 Jun 2014 00:44:12 GMT
- request:
    method: post
    uri: http://soap.valleymetro.org/cgi-bin-soap-web-271/soap.cgi
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="PX_WEB"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><Routepattern
        xmlns="PX_WEB"><Route>LTRL</Route><Direction>E</Direction><Date>12:00:00</Date><Servicetype>W</Servicetype><Routeid>144740</Routeid><Appid>ratis-specs</Appid></Routepattern></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"PX_WEB#Routepattern"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Soapserver:
      - SOAP::Lite/Perl/0.55
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><SOAP-ENV:Envelope xmlns:xsi=\"http://www.w3.org/1999/XMLSchema-instance\"
        xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/1999/XMLSchema\" SOAP-ENV:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><SOAP-ENV:Body><namesp1:RoutepatternResponse
        xmlns:namesp1=\"PX_WEB\">\t<Version>1.6</Version>\n\t<Stops>\n\t\t<Stop>\n\t\t\t<Description>MONTEBELLO/19TH
        AVE LIGHT RAIL STATION</Description>\n\t\t\t<Area>Phoenix</Area>\n\t\t\t<Lat>33.521203</Lat>\n\t\t\t<Long>-112.099746</Long>\n\t\t\t<Point>33.52120,-112.09975</Point>\n\t\t\t<Atisstopid>10869</Atisstopid>\n\t\t\t<Stopid>10001</Stopid>\n\t\t\t<Timepoint>Y</Timepoint>\n\t\t\t<Boardflag>E</Boardflag>\n\t\t</Stop>\n\t\t<Stop>\n\t\t\t<Description>19TH
        AVE/CAMELBACK RD LIGHT RAIL STATION</Description>\n\t\t\t<Area>Phoenix</Area>\n\t\t\t<Lat>33.509505</Lat>\n\t\t\t<Long>-112.099361</Long>\n\t\t\t<Point>33.50950,-112.09936</Point>\n\t\t\t<Atisstopid>10870</Atisstopid>\n\t\t\t<Stopid>10002</Stopid>\n\t\t\t<Timepoint>G</Timepoint>\n\t\t\t<Boardflag>E</Boardflag>\n\t\t</Stop>\n\t\t<Stop>\n\t\t\t<Description>7TH
        AVE/CAMELBACK RD LIGHT RAIL STATION</Description>\n\t\t\t<A[...]
