---
http_interactions:
- request:
    method: post
    uri: http://soap.valleymetro.org/cgi-bin-soap-web-262/soap.cgi
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="PX_WEB"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><Schedulenearby
        xmlns="PX_WEB"><Locationlat>33.4556</Locationlat><Locationlong>-112.071807</Locationlong><Date>01/06/2014</Date><Time>1323</Time><Window>60</Window><Walkdist>0.18</Walkdist><Landmarkid>0</Landmarkid><Stopid></Stopid><Appid>na</Appid></Schedulenearby></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"PX_WEB#Schedulenearby"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Soapserver:
      - SOAP::Lite/Perl/0.55
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><SOAP-ENV:Envelope xmlns:xsi=\"http://www.w3.org/1999/XMLSchema-instance\"
        xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/1999/XMLSchema\" SOAP-ENV:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><SOAP-ENV:Body><namesp1:SchedulenearbyResponse
        xmlns:namesp1=\"PX_WEB\">\n\t<Responsecode>0</Responsecode>\n\t<Version>1.21</Version>\n\t<Input>\n\t\t<Locationlat>33.4556</Locationlat>\n\t\t<Locationlong>-112.071807</Locationlong>\n\t\t<Locationtext>Location</Locationtext>\n\t\t<Atisstopid></Atisstopid>\n\t\t<Stopid></Stopid>\n\t\t<Landmarkid>0</Landmarkid>\n\t\t<Date>01/06/2014</Date>\n\t\t<Time>01:23
        PM</Time>\n\t\t<Route></Route>\n\t</Input>\n\t<Atstop>\n\t\t<Walkdist>0.15</Walkdist>\n\t\t<Walkdir>SE</Walkdir>\n\t\t<Description>FILLMORE
        ST &amp; 3RD ST</Description>\n\t\t<Area>Phoenix</Area>\n\t\t<Atisstopid>5648</Atisstopid>\n\t\t<Stopid>10606</Stopid>\n\t\t<Lat>33.454538</Lat>\n\t\t<Long>-112.070507</Long>\n\t\t<Stopposition>Y</Stopposition>\n\t\t<Heading>WB</Heading>\n\t\t<Side>Far</Side>\n\t\t<Stopstatustype>N</Stopstatustype>\n\t\t<Service>\n\t\t\t<Route>7</Route>\n\t\t\t<Publicroute>7</Publicroute>\n\t\t\t<Sign>7
        7th Street to Dobbins Via Cent Station</Sign>\n\t\t\t<Operator>AP</Operator>\n\t\t\t<Publicoperator>AP</Publicoperator>\n\t\t\t<Direction>S</Direction>\n\t\t\t<Status>N</Status>\n\t\t\t<Servicetype>W</Servicetype>\n\t\t\t<Routetype>B</Routetype>\n\t\t\t<Times>12:38
        PM, 01:03 PM, 01:23 PM, 01:43 PM, 02:03 PM, 02:23 PM</Times>\n\t\t\t<Tripinfo>\n\t\t\t\t<Triptime>12:38
        PM</Triptime>\n\t\t\t\t<Tripid>11236-8</Tripid>\n\t\t\t\t<Skedtripid> </Skedtripid>\n\t\t\t\t<Block>23</Block>\n\t\t\t\t<Exception>N</Exception>\n\t\t\t</Tripinfo>\n\t\t\t<Tripinfo>\n\t\t\t\t<Triptime>01:03
        PM</Triptime>\n\t\t\t\t<Tripid>11236-8</Tripid>\n\t\t\t\t<Skedtripid> </Skedtripid>\n\t\t\t\t<Block>28</Block>\n\t\t\t\t<Exception>N</Exception>\n\t\t\t</Tripinfo>\n\t\t\t<Tripinfo>\n\t\t\t\t<Triptime>01:23
        PM</Triptime>\n\t\t\t\t<Tripid>11236-9</Tripid>\n\t\t\t\t<Skedtripid> </Skedtripid>\n\t\t\t\t<Block>25</Block>\n\t\t\t\t<Exception>N</Exception>\n\t\t\t</Tripinfo>\n\t\t\t<Tripinfo>\n\t\t\t\t<Triptime>[...]
