---
http_interactions:
- request:
    method: post
    uri: http://soap.valleymetro.org/cgi-bin-soap-web-262/soap.cgi
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="PX_WEB"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><Nextbus xmlns="PX_WEB"><Stopid>10050</Stopid><Appid>ratis-specs</Appid><Date>01/06/2014</Date><Time>1653</Time><Type>N</Type></Nextbus></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"PX_WEB#Nextbus"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Soapserver:
      - SOAP::Lite/Perl/0.55
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><SOAP-ENV:Envelope xmlns:xsi=\"http://www.w3.org/1999/XMLSchema-instance\"
        xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/1999/XMLSchema\" SOAP-ENV:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><SOAP-ENV:Body><namesp1:NextbusResponse
        xmlns:namesp1=\"PX_WEB\">\n\t<Responsecode>0</Responsecode>\n\t<Version>1.26</Version>\n\t<Input>\n\t\t<Locationlat></Locationlat>\n\t\t<Locationlong></Locationlong>\n\t\t<Locationtext></Locationtext>\n\t\t<Atisstopid>0</Atisstopid>\n\t\t<Stopid>10050</Stopid>\n\t\t<Landmarkid></Landmarkid>\n\t\t<Date>01/06/2014</Date>\n\t\t<Time>04:53
        PM</Time>\n\t\t<Route></Route>\n\t</Input>\n\t<Atstop>\n\t\t<Walkdist>0.00</Walkdist>\n\t\t<Description>CENTRAL
        AVE &amp; DOBBINS RD</Description>\n\t\t<Area>Phoenix</Area>\n\t\t<Atisstopid>3317</Atisstopid>\n\t\t<Stopid>10050</Stopid>\n\t\t<Lat>33.363681</Lat>\n\t\t<Long>-112.073119</Long>\n\t\t<Stopposition>O</Stopposition>\n\t\t<Heading>NB</Heading>\n\t\t<Side>Far</Side>\n\t\t<Stopstatustype>N</Stopstatustype>\n\t\t<Service>\n\t\t\t<Route>ZERO</Route>\n\t\t\t<Publicroute>ZERO</Publicroute>\n\t\t\t<Sign>0
        CENTRAL North to Dunlap/3rd St.</Sign>\n\t\t\t<Operator>AP</Operator>\n\t\t\t<Publicoperator>AP</Publicoperator>\n\t\t\t<Direction>N</Direction>\n\t\t\t<Status>D</Status>\n\t\t\t<Servicetype>W</Servicetype>\n\t\t\t<Routetype>B</Routetype>\n\t\t\t<Times>04:49
        PM, 05:09 PM, 05:29 PM, 05:49 PM</Times>\n\t\t\t<Tripinfo>\n\t\t\t\t<Triptime>04:49
        PM</Triptime>\n\t\t\t\t<Tripid>12315-17</Tripid>\n\t\t\t\t<Skedtripid> </Skedtripid>\n\t\t\t\t<Adherence>-1</Adherence>\n\t\t\t\t<Estimatedtime>04:50
        PM</Estimatedtime>\n\t\t\t\t<Realtime>\n\t\t\t\t\t<Valid>Y</Valid>\n\t\t\t\t\t<Adherence>-1</Adherence>\n\t\t\t\t\t<Estimatedtime>04:50
        PM</Estimatedtime>\n\t\t\t\t\t<Estimatedminutes> </Estimatedminutes>\n\t\t\t\t\t<Polltime>04:51
        PM</Polltime>\n\t\t\t\t\t<Trend>D</Trend>\n\t\t\t\t\t<Speed>0.00</Speed>\n\t\t\t\t\t<Reliable>Y</Reliable>\n\t\t\t\t\t<Stopped>N</Stopped>\n\t\t\t\t\t<Vehicleid>6329</Vehicleid>\n\t\t\t\t\t<Lat>33.369045</Lat>\n\t\t\t\t\t<Long>-112.073143</Long>\n\t\t\t\t</Realtime>\n\t\t\t\t<Block>8</Block>\n\t\t\t\t<Exception>N</Exception>\n\t\t\t</Tripinfo>\n\t\t\t<Tripinfo>\n\t\t\t\t<Triptime>05:09
        PM</Triptime>\n\t\t\t\t<Tripid>12315-18</Tripid>\n\t\t\t\t<Skedtripid> </Skedtripid>\n\t\t\t\t<Adherence>-13</Adherence>\n\t\t\t\t<Estimatedtime>05:09
        PM</Estimatedtime>\n\t\t\t\t<Realtime>\n\t\t\t\t\t<Valid>Y</Valid>\n\t\t\t\t\t<Adherence>-13</Adherence>\n\t\t\t\t\t<Estimatedtime>05:09
        PM</Estimatedtime>\n\t\t\t\t\t<Estimatedminutes>29</Estimatedminutes>\n\t\t\t\t\t<Polltime>04:50
        PM</Pol[...]
[...]
