---
http_interactions:
- request:
    method: post
    uri: http://soap.valleymetro.org/cgi-bin-soap-web-262/soap.cgi
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="PX_WEB"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><Closeststop
        xmlns="PX_WEB"><Locationlat>33.4556</Locationlat><Locationlong>-112.071807</Locationlong><Locationtext>some
        location text</Locationtext><Numstops>15</Numstops></Closeststop></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"PX_WEB#Closeststop"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Soapserver:
      - SOAP::Lite/Perl/0.55
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><SOAP-ENV:Envelope xmlns:xsi=\"http://www.w3.org/1999/XMLSchema-instance\"
        xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/1999/XMLSchema\" SOAP-ENV:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><SOAP-ENV:Body><namesp1:CloseststopResponse
        xmlns:namesp1=\"PX_WEB\">\n\t<Responsecode>0</Responsecode>\n\t<Version>1.11</Version>\n\t<Input>\n\t\t<Locationlat>33.4556</Locationlat>\n\t\t<Locationlon>-112.071807</Locationlon>\n\t\t<Locationtext>some
        location text</Locationtext>\n\t\t<Numstops>15</Numstops>\n\t\t<Distance>0</Distance>\n\t\t<Accessible>N</Accessible>\n\t\t<Xmode></Xmode>\n\t</Input>\n\t<Stops>\n\t\t<Stop>\n\t\t\t<Description>FILLMORE
        ST &amp; 3RD ST</Description>\n\t\t\t<Area>Phoenix</Area>\n\t\t\t<Stopid>10606</Stopid>\n\t\t\t<Atisstopid>5648</Atisstopid>\n\t\t\t<Lat>33.454538</Lat>\n\t\t\t<Long>-112.070507</Long>\n\t\t\t<Walkdist>0.15</Walkdist>\n\t\t\t<Walkdir>SE</Walkdir>\n\t\t\t<Stopposition>Y</Stopposition>\n\t\t\t<Heading>WB</Heading>\n\t\t\t<Side>Far</Side>\n\t\t\t<Routedirs>\n\t\t\t\t<Routedir>7-S</Routedir>\n\t\t\t</Routedirs>\n\t\t</Stop>\n\t\t<Stop>\n\t\t\t<Description>CENTRAL
        AVE &amp; FILLMORE ST</Description>\n\t\t\t<Area>Phoenix</Area>\n\t\t\t<Stopid>10077</Stopid>\n\t\t\t<Atisstopid>2819</Atisstopid>\n\t\t\t<Lat>33.454995</Lat>\n\t\t\t<Long>-112.073737</Long>\n\t\t\t<Walkdist>0.16</Walkdist>\n\t\t\t<Walkdir>W</Walkdir>\n\t\t\t<Stopposition>O</Stopposition>\n\t\t\t<Heading>NB</Heading>\n\t\t\t<Side>Far</Side>\n\t\t\t<Routedirs>\n\t\t\t\t<Routedir>10-E</Routedir>\n\t\t\t[...]
