---
http_interactions:
- request:
    method: post
    uri: http://soap.valleymetro.org/cgi-bin-soap-web-262/soap.cgi
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="PX_WEB"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><Getcategories
        xmlns="PX_WEB"></Getcategories></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"PX_WEB#Getcategories"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Soapserver:
      - SOAP::Lite/Perl/0.55
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><SOAP-ENV:Envelope xmlns:xsi=\"http://www.w3.org/1999/XMLSchema-instance\"
        xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/1999/XMLSchema\" SOAP-ENV:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><SOAP-ENV:Body><namesp1:GetcategoriesResponse
        xmlns:namesp1=\"PX_WEB\">\n\t<Responsecode>0</Responsecode>\n\t<Version>1.0</Version>\n\t<Types>\n\t\t<Typeinfo>\n\t\t\t<Type>AIRPT</Type>\n\t\t\t<Description>AIRPORT</Description>\n\t\t</Typeinfo>\n\t\t<Typeinfo>\n\t\t\t<Type>CAS</Type>\n\t\t\t<Description>CASINO</Description>\n\t\t</Typeinfo>\n\t\t<Typeinfo>\n\t\t\t<Type>CEM</Type>\n\t\t\t<Description>CEMETARIES</Description>\n\t\t</Typeinfo>\n\t\t<Typeinfo>\n\t\t\t<Type>CINE</Type>\n\t\t\t<Description>CINEMAS
        / MOVIE THEATERS</Description>\n\t\t</Typeinfo>\n\t\t<Typeinfo>\n\t\t\t<Type>CITY</Type>\n\t\t\t<Description>CITY
        / TOWN HALLS</Description>\n\t\t</Typeinfo>\n\t\t<Typeinfo>\n\[...]
