---
http_interactions:
- request:
    method: post
    uri: http://soap.valleymetro.org/cgi-bin-soap-web-271/soap.cgi
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="PX_WEB"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><Getareas
        xmlns="PX_WEB"><Appid>ratis-specs</Appid></Getareas></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"PX_WEB#Getareas"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Soapserver:
      - SOAP::Lite/Perl/0.55
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><SOAP-ENV:Envelope xmlns:xsi=\"http://www.w3.org/1999/XMLSchema-instance\"
        xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/1999/XMLSchema\" SOAP-ENV:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><SOAP-ENV:Body><namesp1:GetareasResponse
        xmlns:namesp1=\"PX_WEB\">\n\t<Responsecode>0</Responsecode>\n\t<Version>1.0</Version>\n\t<Areainfo>\n\t\t<Description>Apache
        Junction</Description>\n\t\t<Area>AJ</Area>\n\t</Areainfo>\n\t<Areainfo>\n\t\t<Description>Avondale</Description>\n\t\t<Area>AV</Area>\n\t</Areainfo>\n\t<Areainfo>\n\t\t<Description>Buckeye</Description>\n\t\t<Area>BU</Area>\n\t</Areainfo>\n\t<Areainfo>\n\t\t<Description>Carefree</Description>\n\t\t<Area>CA</Area>\n\t</Areainfo>\n\t<Areainfo>\n\t\t<Description>Cave
        Creek</Description>\n\t\t<Area>CC</Area>\n\t</Areainfo>\n\t<Areainfo>\n\t\t<Description>Chandler</Description>\n\t\t<Area>CH</Area>\n\t</Areainfo>\n\t<Areainf[...]
