---
http_interactions:
- request:
    method: post
    uri: http://soap.valleymetro.org/cgi-bin-soap-web-262/soap.cgi
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="PX_WEB"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><Getlandmarks
        xmlns="PX_WEB"><Appid>WEB</Appid><Type>*</Type><Zipcode>85224</Zipcode></Getlandmarks></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"PX_WEB#Getlandmarks"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Soapserver:
      - SOAP::Lite/Perl/0.55
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><SOAP-ENV:Envelope xmlns:xsi=\"http://www.w3.org/1999/XMLSchema-instance\"
        xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/1999/XMLSchema\" SOAP-ENV:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><SOAP-ENV:Body><namesp1:GetlandmarksResponse
        xmlns:namesp1=\"PX_WEB\">\n\t<Responsecode>0</Responsecode>\n\t<Version>1.6</Version>\n\t\t<Landmark>\n\t\t\t<Id>7613</Id>\n\t\t\t<Verbose>12JF</Verbose>\n\t\t\t<Soundex>1B21</Soundex>\n\t\t\t<Area>PH</Area>\n\t\t\t<Areacode>Phoenix</Areacode>\n\t\t\t<Location>S
        12TH ST &amp; E JEFFERSON ST</Location>\n\t\t\t<Latitude>33.447172</Latitude>\n\t\t\t<Longitude>-112.056423</Longitude>\n\t\t\t<Type>LRT</Type>\n\t\t\t<Typedescription>LIGHTRAIL</Typedescription>\n\t\t\t<Locality>N</Locality>\n\t\t\t<Zipcode>85034</Zipcode>\n\t\t</Landmark>\n\t\t<Landmark>\n\t\t\t<Id>7934</Id>\n\t\t\t<Verbose>12TH
        ST JEFFERSON LIGHT RAIL STN</Verbose>\n\t\t\t<Soundex>1B32</Soundex>\n\t\t\t<Area>PH</Area>\n\t\t\t<Areacode>Phoenix</Areacode>\n\t\t\t<Location>(10893)
        # 12TH STREET/JEFFERSON LIGHT RAIL STATION</Location>\n\t\t\t<Latitude>33.447237</Latitude>\n\t\t\t<Longitude>-112.056297</Longitude>\n\t\t\t<Type>LRTSTN</Type>\n\t\t\t<Typedescription>LIGHT
        RAIL STATION[...]
