---
http_interactions:
- request:
    method: post
    uri: http://soap.valleymetro.org/cgi-bin-soap-web-271/soap.cgi
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="PX_WEB"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><Fleetlocation
        xmlns="PX_WEB"><Appid>WEB</Appid></Fleetlocation></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"PX_WEB#Fleetlocation"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Soapserver:
      - SOAP::Lite/Perl/0.55
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><SOAP-ENV:Envelope xmlns:xsi=\"http://www.w3.org/1999/XMLSchema-instance\"
        xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/1999/XMLSchema\" SOAP-ENV:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><SOAP-ENV:Body><namesp1:FleetlocationResponse
        xmlns:namesp1=\"PX_WEB\">\n\t<Responsecode>0</Responsecode>\n\t<Version>1.0</Version>\n\t\t<Responsecode>0</Responsecode>\n\t\t<Vehicles>\n\t\t\t<Vehicle>\n\t\t\t\t<Route>1</Route>\n\t\t\t\t<Direction>W</Direction>\n\t\t\t\t<Updatetime>01:54
        PM</Updatetime>\n\t\t\t\t<Vehicleid>6362</Vehicleid>\n\t\t\t\t<Block>1</Block>\n\t\t\t\t<Adherance>0</Adherance>\n\t\t\t\t<Adhchange>S</Adhchange>\n\t\t\t\t<Reliable>Y</Reliable>\n\t\t\t\t<Offroute>N</Offroute>\n\t\t\t\t<Stopped>N</Stopped>\n\t\t\t\t<Inservice>Y</Inservice>\n\t\t\t\t<Speed>1.49</Speed>\n\t\t\t\t<Heading>36</Heading>\n\t\t\t\t<Routeid>15722</Routeid>\n\t\t\t</Vehicle>\n\t\t\t<Vehicle>\n\t\t\t\t<Route>7</Route>\n\t\t\t\t<Direction>S</Direction>\n\t\t\t\t<Updatetime>01:54
        PM</Updatetime>\n\t\t\t\t<Vehicleid>6104</Vehicleid>\n\t\t\t\t<Block>10</Block>\n\t\t\t\t<Adherance>0</Adherance>\n\t\t\t\t<Adhchange>S</Adhchange>\n\t\t\t\t<Reliable>Y</Reliable>\n\t\t\t\t<Offroute>N</Offroute>\n\t\t\t\t<Stopped>Y</Stopped>\n\t\t\t\t<Inservice>L</Inservice>\n\t\t\t\t<Speed>0.00</Speed>\n\t\t\t\t<Heading>
        0</Heading>\n\t\t\t\t<[...]
