---
http_interactions:
- request:
    method: post
    uri: http://soap.valleymetro.org/cgi-bin-soap-web-271/soap.cgi
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="PX_WEB"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><Getpatterns
        xmlns="PX_WEB"><Route>ZERO</Route><Direction>N</Direction><Date>08:00:00</Date><Servicetype>W</Servicetype><Longest>N</Longest><Appid>ratis-specs</Appid></Getpatterns></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"PX_WEB#Getpatterns"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Soapserver:
      - SOAP::Lite/Perl/0.55
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><SOAP-ENV:Envelope xmlns:xsi=\"http://www.w3.org/1999/XMLSchema-instance\"
        xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/1999/XMLSchema\" SOAP-ENV:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><SOAP-ENV:Body><namesp1:GetpatternsResponse
        xmlns:namesp1=\"PX_WEB\">\n\t<Responsecode>0</Responsecode>\n\t<Version>1.2</Version>\n\t<Routes>\n\t\t<Routeinfo>\n\t\t\t<Route>ZERO</Route>\n\t\t\t<Signage>0
        CENTRAL North to Dunlap/3rd St.</Signage>\n\t\t\t<Operator>AP</Operator>\n\t\t\t<Effective>04/28/14</Effective>\n\t\t\t<Routeid>168930</Routeid>\n\t\t\t<Routetype>B</Routetype>\n\t\t\t<School></School>\n\t\t\t<Tripcount>51</Tripcount>\n\t\t</Routeinfo>\n\t\t<Routeinfo>\n\t\t\t<Route>ZERO</Route>\n\t\t\t<Signage>0
        Central North To Central Station</Signage>\n\t\t\t<Operator>AP</Operator>\n\t\t\t<Effective>04/28/14</Effective>\n\t\t\t<Routeid>168940</Routeid>\n\t\t\t<Routetype>B</Routetype>\n\t\t\t<School></School>\n\t\t\t<Tripcount>25</Tripcount>\n\t\t</Routeinfo>\n\t\t<Routeinfo>\n\t\t\t<Route>ZERO</Route>\n\t\t\t<Signage>0
        CENTRAL North to Dunlap/3rd St.</Signage>\n\t\t\t<Operator>AP</Operator>\n\t\t\t<Effective>04/28/14</Effective>\n\t\t\t<Routeid>168950</Routeid>\n\t\t\t<Routetype>B</Routetype>\n\t\t\t<School></School>\n\t\t\t<Tripcount>51</Tripcount>\n\t\t</Routeinfo>\n\t\t<Routeinfo>\n\t\t\t<Route>ZERO</Route>\n\t\t\t<Signage>0
        Central North To Central Station</Signage>\n\t\t\t<Operator>AP</Operator>\n\t\t\t<Effective>04/28/14</Effective>\n\t\t\t<Routeid>168960</Routeid>\n\t\t\t<Routetype>B</Routetype>\n\t\t\t<School></School>\n\t\t\t<Tripcount>25</Tripcount>\n\t\t</Routeinfo>\n\t</Routes>\n\t<Appid>ratis-specs</Appid>\n\t<Requestor>72.222.151.25</Requestor>\n\t<Host>s-rpta-soap</Host>\n\t<Copyright>XML
        schema Copyright (c) 2003-2014 Trapeze Software ULC, its subsidiaries and
        affiliates.  All rights reserved.</Copyright>\n\t<Soapversion>2.7.1a - 05/14/14</Soapversion>\n</namesp1:GetpatternsResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>"
  recorded_at: Sat, 14 Jun 2014 00:41:35 GMT
recorded_with: VCR 2.8.0
