---
http_interactions:
- request:
    method: post
    uri: http://soap.valleymetro.org/cgi-bin-soap-web-271/soap.cgi
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="PX_WEB"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><Nextbus xmlns="PX_WEB"><Stopid>15894</Stopid><Date>06/16/2014</Date><Time>1500</Time><Type>N</Type><Appid>ratis-specs</Appid></Nextbus></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"PX_WEB#Nextbus"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Soapserver:
      - SOAP::Lite/Perl/0.55
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><SOAP-ENV:Envelope xmlns:xsi=\"http://www.w3.org/1999/XMLSchema-instance\"
        xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/1999/XMLSchema\" SOAP-ENV:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><SOAP-ENV:Body><namesp1:NextbusResponse
        xmlns:namesp1=\"PX_WEB\">\n\t<Responsecode>0</Responsecode>\n\t<Version>1.26</Version>\n\t<Input>\n\t\t<Locationlat>0</Locationlat>\n\t\t<Locationlong>0</Locationlong>\n\t\t<Locationtext>postedid
        15894</Locationtext>\n\t\t<Atisstopid>0</Atisstopid>\n\t\t<Stopid>15894</Stopid>\n\t\t<Landmarkid></Landmarkid>\n\t\t<Date>06/16/2014</Date>\n\t\t<Time>03:00
        PM</Time>\n\t\t<Route></Route>\n\t</Input>\n\t<Atstop>\n\t\t<Walkdist>0.00</Walkdist>\n\t\t<Description>ELLIOT
        RD &amp; CENTRAL DR</Description>\n\t\t<Area>Chandler</Area>\n\t\t<Atisstopid>6567</Atisstopid>\n\t\t<Stopid>15894</Stopid>\n\t\t<Lat>33.349730</Lat>\n\t\t<Long>-111.865807</Long>\n\t\t<Stopposition>Y</Stopposition>\n\t\t<Heading>WB</Heading>\n\t\t<Side>Far</Side>\n\t\t<Stopstatustype>N</Stopstatustype>\n\t\t<Service>\n\t\t\t<Route>108</Route>\n\t\t\t<Publicroute>108</Publicroute>\n\t\t\t<Sign>108
        Elliot/48th St West To 40th St/Pecos</Sign>\n\t\t\t<Operator>FTE</Operator>\n\t\t\t<Publicoperator>FTE</Publicoperator>\n\t\t\t<Direction>W</Direction>\n\t\t\t<Status>N</Status>\n\t\t\t<Servicetype>W</Servicetype>\n\t\t\t<Routetype>B</Routetype>\n\t\t\t<Times>07:07
        AM, 03:07 PM, 03:37 PM, 04:07 PM</Times>\n\t\t\t<Tripinfo>\n\t\t\t\t<Triptime>07:07
        AM</Triptime>\n\t\t\t\t<Tripid>16502-1</Tripid>\n\t\t\t\t<Skedtripid> </Skedtripid>\n\t\t\t\t<Adherence>0</Adherence>\n\t\t\t\t<Estimatedtime>07:07
        AM</Estimatedtime>\n\t\t\t\t<Realtime>\n\t\t\t\t\t<Valid>N</Valid>\n\t\t\t\t\t<Adherence>0</Adherence>\n\t\t\t\t\t<Estimatedtime>07:07
        AM</Estimatedtime>\n\t\t\t\t\t<Estimatedminutes> </Estimatedminutes>\n\t\t\t\t\t<Polltime></Polltime>\n\t\t\t\t\t<Trend>
        </Trend>\n\t\t\t\t\t<Speed>0.00</Speed>\n\t\t\t\t\t<Reliable>N</Reliable>\n\t\t\t\t\t<Stopped>
        </Stopped>\n\t\t\t\t\t<Vehicleid></Vehicleid>\n\t\t\t\t\t<Lat>0.000000</Lat>\n\t\t\t\t\t<Long>0.000000</Long>\n\t\t\t\t</Realtime>\n\t\t\t\t<Block>5048</Block>\n\t\t\t\t<Exception>N</Exception>\n\t\t\t</Tripinfo>\n\t\t\t<Tripinfo>\n\t\t\t\t<Triptime>03:07
        PM</Triptime>\n\t\t\t\t<Tripid>16502-2</Tripid>\n\t\t\t\t<Skedtripid> </Skedtripid>\n\t\t\t\t<Adherence>0</Adherence>\n\t\t\t\t<Estimatedtime>03:07
        PM</Estimatedtime>\n\t\t\t\t<Realtime>\n\t\t\t\t\t<Valid>N</Valid>\n\t\t\t\t\t<Adherence>0</Adherence>\n\t\t\t\t\t<Estimatedtime>03:07
        PM</Estimatedtime>\n\t\t\t\t\t<Estimatedminutes> </Estimatedminutes>\n\t\t\t\t\t<Polltime></Polltime>\n\t\t\t\t\t<Tre[...]
