---
http_interactions:
- request:
    method: post
    uri: http://soap.valleymetro.org/cgi-bin-soap-web-271/soap.cgi
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="PX_WEB"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><Point2point
        xmlns="PX_WEB"><Routesonly>Y</Routesonly><Originlat>33.446931</Originlat><Originlong>-112.097903</Originlong><Destinationlat>33.447098</Destinationlat><Destinationlong>-112.077213</Destinationlong><Date>01/06/2014</Date><Starttime>1700</Starttime><Endtime>1800</Endtime><Routes></Routes></Point2point></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"PX_WEB#Point2point"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Soapserver:
      - SOAP::Lite/Perl/0.55
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><SOAP-ENV:Envelope xmlns:xsi=\"http://www.w3.org/1999/XMLSchema-instance\"
        xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/1999/XMLSchema\" SOAP-ENV:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><SOAP-ENV:Body><namesp1:Point2pointResponse
        xmlns:namesp1=\"PX_WEB\">\n\t<Responsecode>0</Responsecode>\n\t<Version>1.6</Version>\n\t<Routes>\n\t\t<Service>\n\t\t\t<Route>562</Route>\n\t\t\t<Direction>O</Direction>\n\t\t\t<Servicetype>W</Servicetype>\n\t\t\t<Signage>562
        Goodyear To Goodyear</Signage>\n\t\t\t<Routetype>X</Routetype>\n\t\t\t\t\t\t<Statustype>N</Statustype>\n\t\t</Service>\n\t\t<Service>\n\t\t\t<Route>I10E</Route>\n\t\t\t<Direction>O</Direction>\n\t\t\t<Servicetype>W</Servicetype>\n\t\t\t<Signage>I-10
        EAST RAPID To 40 St/Pecos</Signage>\n\t\t\t<Routetype>X</Routetype>\n\t\t\t\t\t\t<Statustype>N</Statustype>\n\t\t</Service>\n\t\t<Service>\n\t\t\t<Route>CSM</Route>\n\t\t\t<Direction>O</Direction>\n\t\t\t<Servicetype>W</Servicetype>\n\t\t\t<Signage>CSM
        RAPID To 27th Av/Bsln PNR</Signage>\n\t\t\t<Routetype>X</Routetype>\n[...]
