---
http_interactions:
- request:
    method: post
    uri: http://soap.valleymetro.org/cgi-bin-soap-web-262/soap.cgi
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="PX_WEB"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><Plantrip
        xmlns="PX_WEB"><Appid>ratis-gem</Appid><Date>01/13/2014</Date><Time>0600</Time><Minimize>T</Minimize><Arrdep>D</Arrdep><Maxanswers>3</Maxanswers><Walkdist>0.50</Walkdist><Xmode>BCFKLRSTX</Xmode><Originlat>33.452082</Originlat><Originlong>-112.074374</Originlong><Origintext
        xsi:nil="true"/><Originlandmarkid xsi:nil="true"/><Destinationlat>33.446347</Destinationlat><Destinationlong>-112.068689</Destinationlong><Destinationtext
        xsi:nil="true"/><Destinationlandmarkid xsi:nil="true"/></Plantrip></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"PX_WEB#Plantrip"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Soapserver:
      - SOAP::Lite/Perl/0.55
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><SOAP-ENV:Envelope xmlns:xsi=\"http://www.w3.org/1999/XMLSchema-instance\"
        xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/1999/XMLSchema\" SOAP-ENV:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><SOAP-ENV:Body><namesp1:PlantripResponse
        xmlns:namesp1=\"PX_WEB\">\n\t<Responsecode>0</Responsecode>\n\t<Version>1.29</Version>\n\t<Tid></Tid>\n\t<Input>\n\t\t<Originlat>33.452082</Originlat>\n\t\t<Originlong>-112.074374</Originlong>\n\t\t<Originlandmarkid>0</Originlandmarkid>\n\t\t<Origintext>Origin</Origintext>\n\t\t<Destinationlat>33.446347</Destinationlat>\n\t\t<Destinationlong>-112.068689</Destinationlong>\n\t\t<Destinationlandmarkid>0</Destinationlandmarkid>\n\t\t<Destinationtext>Destination</Destinationtext>\n\t\t<Date>01/13/2014</Date>\n\t\t<Time>06:00
        AM</Time>\n\t\t<Minimize>T</Minimize>\n\t\t<Accessible>N</Accessible>\n\t\t<Arrdep>D</Arrdep>\n\t\t<Walkspeed>
        2.00 </Walkspeed>\n\t\t<Walkdist>0.50</Walkdist>\n\t\t<Walkorigin>0.50</Walkorigin>\n\t\t<Walkdestination>0.50</Walkdestination>\n\t</Input>\n\t<Lesserttime>\n\t\t<Time/>\n\t\t<Arrdep/>\n\t</Lesserttime>\n\t<Walkable>N</Walkable>\n\t<Walkadjust>0</Walkadjust>\n\t<Itin>\n\t\t<Legs>\n\t\t\t<Leg>\n\t\t\t\t<Onwalkdist>0.09</Onwalkdist>\n\t\t\t\t<Onwalkdir>SE</Onwalkdir>\n\t\t\t\t<Onwalkhint>Y</Onwalkhint>\n\t\t\t\t<Onstop>VAN
        BUREN ST &amp; CENTRAL AVE</Onstop>\n\t\t\t\t<Ontime>0603</Ontime>\n\t\t\t\t<Onstopdata>\n\t\t\t\t\t<Description>VAN
        BUREN ST &amp; CENTRAL AVE</Description>\n\t\t\t\t\t<Area>PH</Area>\n\t\t\t\t\t<Lat>33.451444</Lat>\n\t\t\t\t\t<Long>-112.073661</Long>\n\t\t\t\t\t<Time>0603</Time>\n\t\t\t\t\t<Date>01/13/14</Date>\n\t\t\t\t\t<Atisstopid>6148</Atisstopid>\n\t\t\t\t\t<Stopid>18367</Stopid>\n\t\t\t\t\t<Stopstatustype>N</Stopstatustype>\n\t\t\t\t\t<Stopseq>16</Stopseq>\n\t\t\t\t\t<Stopposition>W</Stopposition>\n\t\t\t\t\t<Heading>WB</Heading>\n\t\t\t\t\t<Side>Near</Side>\n\t\t\t\t\t<Accessible>Y</Accessible>\n\t\t\t\t</Onstopdata>\n\t\t\t\t<Service>\n\t\t\t\t\t<Route>541</Route>\n\t\t\t\t\t<Publicroute>541</Publicroute>\n\t\t\t\t\t<Sign>541
        Chandler To State Capitl Via West Mesa PNR</Sign>\n\t\t\t\t\t<Altsign></Altsign>\n\t\t\t\t\t<Direction>I</Direction>\n\t\t\t\t\t<Operator>EV
        FT</Operator>\n\t\t\t\t\t<Realoperator>FTE</Realoperator>\n\t\t\t\t\t<Servicetype>W</Servicetype>\n\t\t\t\t\t<Routeid>120990</Routeid>\n\t\t\t\t\t<Block>5167</Block>\n\t\t\t\t\t<Trip>0</Trip>\n\t\t\t\t\t<Peak>N</Peak>\n\t\t\t\t\t<Routetype>X</Routetype>\n\t\t\t\t\t<Statustype>N</Statustype>\n\t\t\t\t\t<Adherence>0</Adherence>\n\t\t\t\t\t<Polltime></Polltime>\n\t\t\t\t\t<Realtime>\n\t\t\t\t\t\t<Valid>N</Valid>\n\t\t\t\t\t\t<Adherence>0</Adherence>\n\t\t\t\t\t\t<Polltime></Polltime>\n\t\t\t\t\t\t<Trend>
        </Trend>\n\t\t\t\t\t\t<Speed>0.00</Speed>\n\t\t\t\t\t\t<Stopped> </Stopped>\n\t\t\t\t\t\t<Reliable>
        </Reliable>\n\t\t\t\t\t\t<Vehicle></Vehicle>\n\t\t\t\t\t\t<Lat>0.000000</Lat>\n\t\t\t\t\t\t<Long>0.000000</Long>\n\t\t\t\t\t</Realtime>\n\t\t\t\t\t<Patternorigin></Patternorigin>\n\t\t\t\t\t<Patterndestination></Patterndestination>\n\t\t\t\t\t<Exception>N</Exception>\n\t\t\t\t\t<Statusid>0</Statusid>\n\t\t\t\t\t<Skedtripid>
        </Skedtripid>\n\t\t\t\t</Service>\n\t\t\t\t<Fare>\n\t\t\t\t\t<Onfarezone>0</Onfarezone>\n\t\t\t\t\t<Offfarezone>0</Offfarezone>\n\t\t\t\t\t<Legregularfare>3.25</Legregularfare>\n\t\t\t\t\t<Legregularfarexfer>0.00</Legregularfarexfer>\n\t\t\t\t\t<Legreducedfare>3.25</Legreducedfare>\n\t\t\t\t\t<Legreducedfarexfer>0.00</Legreducedfarexfer>\n\t\t\t\t</Fare>\n\t\t\t\t<Offstop>WASHINGTON
        ST &amp; 1ST AVE</Offstop>\n\t\t\t\t<Offtime>0604</Offtime>\n\t\t\t\t<Offstopdata>\n\t\t\t\t\t<Description>WASHINGTON
        ST &amp; 1ST AVE</Description>\n\t\t\t\t\t<Area>PH</Area>\n\t\t\t\t\t<Lat>33.448298</Lat>\n\t\t\t\t\t<Long>-112.075282</Long>\n\t\t\t\t\t<Time>0604</Time>\n\t\t\t\t\t<Date>01/13/14</Date>\n\t\t\t\t\t<Atisstopid>7180</Atisstopid>\n\t\t\t\t\t<Stopid>18249</Stopid>\n\t\t\t\t\t<Stopstatustype>N</Stopstatustype>\n\t\t\t\t\t<Stopseq>17</Stopseq>\n\t\t\t\t\t<Stopposition>Y</Stopposition>\n\t\t\t\t\t<Heading>WB</Heading>\n\t\t\t\t\t<Side>Far</Side>\n\t\t\t\t\t<Accessible>Y</Accessible>\n\t\t\t\t</Offstopdata>\n\t\t\t</Leg>\n\t\t</Legs>\n\t\t<Finalwalk>0.46</Finalwalk>\n\t\t<Finalwalkdir>E</Finalwalkdir>\n\t\t<Finalwalkhint>Y</Finalwalkhint>\n\t\t<Transittime>1</Transittime>\n\t\t<Regularfare>3.25</Regularfare>\n\t\t<Reducedfare>3.25</Reducedfare>\n\t\t<Fareinfo>1|0|3.25|3.25~W|06:03
        AM|06:04 AM|541| |W|I|X|2|0|1370|0|120990|EV FT|6148|16|7180|17|EXPRESSFARE|0|0|0|E~</Fareinfo>\n\t\t<Traceinfo>1|120990|16|17</Traceinfo>\n\t\t<Statusinfo></Statusinfo>\n\t\t<Exmodified>N</Exmodified>\n\t\t<Exmodids/>\n\t\t<Disttransit>
        0.32</Disttransit>\n\t\t<Distauto> 0.88</Distauto>\n\t\t<Co2transit>0.210</Co2transit>\n\t\t<Co2auto>0.840</Co2auto>\n\t</Itin>\n\t<Itin>\n\t\t<Legs>\n\t\t\t<Leg>\n\t\t\t\t<Onwalkdist>0.18</Onwalkdist>\n\t\t\t\t<Onwalkdir>SW</Onwalkdir>\n\t\t\t\t<Onwalkhint>Y</Onwalkhint>\n\t\t\t\t<Onstop>1ST
        AVE &amp; VAN BUREN ST</Onstop>\n\t\t\t\t<Ontime>0610</Ontime>\n\t\t\t\t<Onstopdata>\n\t\t\t\t\t<Description>1ST
        AVE &amp; VAN BUREN ST</Description>\n\t\t\t\t\t<Area>PH</Area>\n\t\t\t\t\t<Lat>33.451753</Lat>\n\t\t\t\t\t<Long>-112.075212</Long>\n\t\t\t\t\t<Time>0610</Time>\n\t\t\t\t\t<Date>[...]
