---
http_interactions:
- request:
    method: post
    uri: http://soap.valleymetro.org/cgi-bin-soap-web-271/soap.cgi
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="PX_WEB"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><Timetable
        xmlns="PX_WEB"><Route>ZERO</Route><Direction>N</Direction><Date>06/17/14</Date><Appid>ratis-specs</Appid></Timetable></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"PX_WEB#Timetable"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Soapserver:
      - SOAP::Lite/Perl/0.55
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><SOAP-ENV:Envelope xmlns:xsi=\"http://www.w3.org/1999/XMLSchema-instance\"
        xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/1999/XMLSchema\" SOAP-ENV:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"><SOAP-ENV:Body><namesp1:TimetableResponse
        xmlns:namesp1=\"PX_WEB\">\n\t<Responsecode>0</Responsecode>\n\t<Version>1.3</Version>\n\n\t<Headway>\n\t\t<Route>ZERO</Route>\n\t\t<Direction>N</Direction>\n\t\t<Servicetype>Weekday</Servicetype>\n\t<Signage>0
        CENTRAL North to Dunlap/3rd St.</Signage>\n\t\t<Routedescription>0 CENTRAL
        North to Dunlap/3rd St.</Routedescription>\n\t\t<Operator>AP</Operator>\n\t\t<Effective>04/28/14</Effective>\n\t\t<Timepoints>\n\t\t\t<Stop>\n\t\t\t\t<Atisstopid>3317</Atisstopid>\n\t\t\t\t<Stopid>10050</Stopid>\n\t<Description>CENTRAL
        AVE &amp;amp; DOBBINS RD</Description>\n\t\t\t\t<Area>Phoenix</Area>\n\t\t\t\t<Lat>33.363681</Lat>\n\t\t\t\t<Long>-112.073119</Long>\n\t\t\t</Stop>\n\t\t\t<Stop>\n\t\t\t\t<Atisstopid>3314</Atisstopid>\n\t\t\t\t<Stopid>10054</Stopid>\n\t<Description>CENTRAL
        AVE &amp;amp; BASELINE RD</Description>\n\t\t\t\t<Area>Phoenix</Area>\n\t\t\t\t<Lat>33.378722</Lat>\n\t\t\t\t<Long>-112.073089</Long>\n\t\t\t</Stop>\n\t\t\t<Stop>\n\t\t\t\t<Atisstopid>3315</Atisstopid>\n\t\t\t\t<Stopid>10062</Stopid>\n\t<Description>CENTRAL
        AVE &amp;amp; BROADWAY RD</Description>\n\t\t\t\t<Area>Phoenix</Area>\n\t\t\t\t<Lat[...]
